* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

/* z index used here below for header/nav on all pages */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:lightblue;
  z-index: 1;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.main-text {
  margin-top: 100px;
}

.container {
  width:1280px;
  margin: auto;
}

.navbar {
  width: 95%;
  margin:auto;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.home, .about, .contact, .portfolio {
  height:720px;
  margin-top: 70px;
  margin-left: 10px;
}


/* //Advanced CSS Selectors - media queiry //  */

@media(max-wdith:1280px){
  .container{
    width: 100%;
  }
}

form {
  width: 90%;
  max-width: 600px;
}

.contact2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.input-group {
  margin-bottom: 30px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #ddd;
  color: #ddd;
  background: transparent;
  font-size: 15px;
}

.main-text-contact {
  font-size: 25px;
  width: 400px;
}

label {
  height: 100%;
  position: absolute;
  color: #FF665B;
}